<div class="row">
    <div class="col"><a ui-sref="orders">Orders</a></div>
    <div class="col"><a ui-sref="widgets">Widgets</a></div>
    <div class="col"><a ui-sref="finishes">Finishes</a></div>
    <div class="col"><a ui-sref="sizes">Sizes</a></div>
    <div class="col"><a ui-sref="categories">Categories</a></div>
</div>
<div class="row">
    <h1 class="col">
      Orders
    </h1>
</div>
<div class="row">
    <!-- list of items -->
    <div class="col">
      <table style="width: 300px;">
          <thead>
            <th>ID</th><th>Name</th>
          </thead>
          <tr ng-repeat="order in orders">
              <td><a href ng-click="edit_entry(item)">{{order.id}}</a></td><td></td>
              <td style="vertical-align: top;">
                  <table>
                      <tr ng-repeat="item in order.orderitems">
                          <td>{{item.widget_name}}</td>
                          <td>{{item.count}}</td>
                      </tr>
                  </table>
              </td><td></td>
          </tr>
      </table>
    </div>
    <!-- item details -->
    <div class="col">
        <form ng-submit="submit_order()">
            <input type="hidden" ng-model="active_order.id" />
            <table>
                <tr>
                    <td>
                        <select ng-model="active_item.widget" placeholder="Widget" title="Widget" style="width: 250px;">
                            <option ng-repeat="_option in widgets" value="{{_option.id}}">
                                {{_option.name}}
                            </option>
                        </select>
                        <input type="number" ng-model="active_item.count" placeholder="Number of Items" title="Number of Items" style="width: 100px;">
                        <!--<input type="button" value="Add Item to Order" ng-click="add_item_to_order(active_item)" />-->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="Add/Update item to Order" ng-click="submit_item_to_order()" />
                        <input type="reset" ng-click="reset_active_item()" />
                        <input type="button" ng-click="delete_item()" value="Delete Item" ng-disabled="active_item.id == null" />
                    </td>
                </tr>
                <tr ng-repeat="item in active_order.items">
                    <td></td>
                    <td>
                        <a href ng-click="update_order_item()">{{item.name}}</a> [count: {{item.count}}]
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit Order" />
                        <input type="reset" ng-click="reset_active_order()" />
                        <input type="button" ng-click="delete_order(active_order)" value="Delete Order" ng-disabled="active_order.id == null" />
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
